@import "tailwindcss";
@plugin '../../hero.ts';

@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* :root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body {
  min-width: 20rem;
}

@font-face {
    font-family: "Pixelify Sans";
    font-style: normal;
    src: url(/fonts/PixelifySans-Regular.ttf);
}

@theme {
    --font-pixel: "Pixelify Sans", sans-serif;
}