name: Build and release extension zips
on: 
    push:
        tags:
            - 'v*' # only trigger on version tags
jobs:
    build-and-release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup bun
              uses: oven-sh/setup-bun@v2
            - name: Setup Node.js
              uses: actions/setup-node@v4
            - name: Install deps
              run: bun install
            - name: Build Chrome extension
              run: bun wxt zip
            - name: Build Firefox extension
              run: bun wxt -b firefox
            - name: Build Edge extension
              run: bun wxt -b edge
            - name: Create Release
              uses: softprops/action-gh-release@v2
              with:
                tag_name: ${{ github.ref_name }} # v1.0.0 .etc
                name: Release ${{ github.ref_name }}
                body: |
                    Automated build for version ${{ github.ref_name }}.
                    - Chrome ZIP: {aporabrowser}-${{ github.ref_name }}-chrome.zip
                    - Edge Zip: {aporabrowser}-${{ github.ref_name }}-edge.zip
                    - Firefox ZIP: {aporabrowser}-${{ github.ref_name }}-firefox.zip
                draft: false
                prerelease: false
                files: |
                    .output/*-chrome.zip
                    .output/*-firefox.zip
                    .output/*-edge.zip
                token: ${{ secrets.GITHUB_TOKEN }}

